.SearchPanelsContainer__panels {
  display: flex;
  flex-wrap: wrap;
}

.SearchPanelsContainer__panel {
  height: 20em;
  width: 25em;
  border: 1px solid #ccc;
  padding: 1em;
  margin: 0.5em;
  overflow-y: scroll;
}
